<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suleekyuri.hositamtam.filtering.mapper.ApartmentMapper">

    <select id="findByFilters" parameterType="map" resultType="com.suleekyuri.hositamtam.filtering.dto.ApartmentDto">
        SELECT id, area, price, type, location_name AS locationName
        FROM Apartments
        WHERE
            (#{area} IS NULL OR area = #{area}) AND
            (#{price} IS NULL OR price &lt;= #{price}) AND
            (#{type} IS NULL OR type = #{type})
    </select>



</mapper>
