<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suleekyuri.hositamtam.mapper.UserMapper">

    <select id="findByUsername" resultType="com.suleekyuri.hositamtam.user.User">
        SELECT * FROM user WHERE userLoginId = #{username}
    </select>

    <insert id="insertUser" parameterType="com.suleekyuri.hositamtam.user.User">
        INSERT INTO user (userLoginId, userLoginPassword, userNickname, userEmail)
        VALUES (#{userLoginId}, #{userLoginPassword}, #{userNickname}, #{userEmail})
    </insert>
</mapper>