<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suleekyuri.hositamtam.region.mapper.RegionMapper">
    <select id="findAptListByRegion" resultType="com.suleekyuri.hositamtam.region.dto.RegionDto">
        select id, name, max_sales_price, image,
    </select>


    private int aptId;
    private String aptName;
    private String aptTradeType;
    private int aptMaxSalesPrice;
    private String aptImg;
    private boolean isLike;