<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suleekyuri.hositamtam.region.mapper.RegionMapper">

    <select id="findByDongCode" resultType="com.suleekyuri.hositamtam.region.dto.RegionDto">
        SELECT
            id AS aptId,
            name AS aptName,
            local1,
            local2,
            local3,
            maxSalesPrice AS maxSalesPrice,
            총세대수 AS totalHome,
            가구당주차대수 AS parkingPerHome,
            image,
            lat,
            lng
        FROM apartment
        WHERE bcode = #{bcode}
        <if test="areaMin != null and areaMax != null">
            AND minSalesPrice BETWEEN #{areaMin} AND #{areaMax}
        </if>
        <if test="priceMin != null and priceMax != null">
            AND maxSalesPrice BETWEEN #{priceMin} AND #{priceMax}
        </if>
    </select>

</mapper>