<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suleekyuri.hositamtam.search.mapper.SearchMapper">
    <select id="findByLocationContaining" resultType="com.suleekyuri.hositamtam.search.dto.SuggestionDto">
        SELECT
--             bcode, trade_data의 deal_amount(null 일 수도 있음), 거래날짜
            id,
            name AS locationName
        FROM
            apartment
        WHERE
            local1 LIKE CONCAT('%', #{keyword}, '%')
           OR local2 LIKE CONCAT('%', #{keyword}, '%')
           OR local3 LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>
